.stAppHeader,
.stAppToolbar {
    display: none;
}

.stMainBlockContainer {
    padding-top: 80px;
}

div[data-testid="stSidebarContent"] {
    padding: 2rem;
}
/* 
div[data-testid="stSidebarHeader"] img {
    height: 4rem;
    width: 4rem;
} */

div[data-testid="stSidebarHeader"] {
    margin-bottom: 2rem;
}

div[data-testid="stSidebarNavSeparator"] {
    display: none;
}

div[data-testid="stSidebarCollapseButton"] {
    display: none;
}

div[data-testid="stSidebarNavLinkContainer"] span {
    font-size: 1rem;
}

.st-key-sidebar-footer-container {
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
    width: auto;
}

.st-key-sidebar-footer-container a {
    color: #31333F;
}

/* .st-key-sidebar-footer-container p {
    
} */

.st-key-sidebar-footer-getting-started-markdown p,
.st-key-sidebar-footer-help-markdown p {
    font-weight: 600;
    margin-bottom: 2px;
}

.st-key-sticky-header {
    position: absolute;
    top: 0;
    z-index: 9999;
    max-width: 704px;
    padding: 8px 0px;
    height: 56px;
    background-color: transparent;
}

.st-key-sticky-header-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    height: 56px;
    min-height: 56px;
}

.st-key-sticky-header h1 {
    padding: 0px;
}

/* 
    Theme Page
*/


.st-key-theme-main-container,
.st-key-elements-main-container {
    gap: 40px;

}

.st-key-theme-main-container .stVerticalBlock {
    gap: 40px;
}

.st-key-theme-main-container div[data-baseweb="tab-panel"] {
    padding-top: 40px;
}

.st-key-theme-tabs p {
    font-weight: 500;
}

.st-key-color-preview {
    gap: 8px !important;
    border-radius: 2px;
}

.st-key-primary-color-preview {
    margin-top: 16px;
    border: none;
    z-index: 1000; 
}

.st-key-secondary-color-preview {
    border: none;
    position: relative;
    top: -50px;
    flex-flow: row;
    align-items: end;
}

.st-key-secondary-color-preview p {
    text-align: right;
}

.st-key-textcolor-preview {
    text-align: center;
}

.st-key-textcolor-preview p {
    font-weight: 700;
    margin: 0px;
}

.st-key-color-selectors,
.st-key-theme-font-container,
.st-key-theme-border-container,
.st-key-border-selectors,
.st-key-radius-selectors
{
    gap: 48px !important;
}

.st-key-border-preview {
    gap: 32px !important;
}

.st-key-theme-color-ext-expander,
.st-key-theme-font-ext-expander {
    border: none;
}

.st-key-color-selectors,
.st-key-theme-color-ext-container,
.st-key-theme-font-container,
.st-key-theme-font-ext-expander,
.st-key-border-selectors
{
    margin-top: 16px;
    margin-bottom: 16px;
}

.st-key-radius-selectors {
    margin-top: 24px;
    margin-bottom: 24px; 
}

.st-key-radius-preview {
    margin-top: 8px;
    margin-bottom: 8px; 
}

.st-key-color-ext-preview {
    margin-top: 16px;
    gap: 48px !important;
    border-radius: 2px;
}

.st-key-color-ext-selectors {
    gap: 48px !important;
}

.st-key-bordercolor-preview {
    height: 64px;
}

.st-key-linkcolor-preview {
    padding-left: 8px;
}

.st-key-dataframe-header-background-preview {
    border: none;
    min-height: 36px;
    border-radius: 0.5rem;
    
}

.st-key-dataframe-border-color-preview {
    min-height: 156px;
    border-top: none !important;
    z-index: 1000;
    background-color: transparent;
    border-radius: 0.5rem;
}


/* 
Theme Export */

.st-key-export-theme-streamlit-docs-link p {
    margin-left: 18.4px;
    padding-left: 4.8px;
    font-weight: 500;
}

.st-key-export-theme-step-1-markdown code,
.st-key-export-theme-step-2-markdown code,
.st-key-export-theme-step-3-markdown code {
    font-size: 14px;
}


.st-key-export-theme-updated-theme-tabs p {
    font-weight: 500;
}

.st-key-sidebar-border-preview {
    min-height: 60px;
    background-color: #f6f6f6;
}

.st-key-sidebar-border-box-preview {
    min-height: 60px;
    background-color: #f0f2f6;
}

.st-key-theme-font-ext-container {
    margin: 16px;
}

.st-key-export-theme-container,
.st-key-export-elements-container {
    gap: 40px;
}

.st-key-elements-category-select label[data-baseweb="radio"] > div:first-child,
.st-key-elements-state-select label[data-baseweb="radio"] > div:first-child {
    display: none;
}

.st-key-elements-category-select label[data-baseweb="radio"]:has(input),
.st-key-elements-state-select label[data-baseweb="radio"]:has(input) {
    border-radius: 4px;
    background-color: #b9b9b933;
    border-width: 1px;
    border-color: #31333f80;
    border-style: none;
    padding-left: 8px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.st-key-elements-category-select label[data-baseweb="radio"]:has(input):hover,
.st-key-elements-state-select label[data-baseweb="radio"]:has(input):hover {
    background-color: #b9b9b972;
}

.st-key-elements-category-select label[data-baseweb="radio"]:has(input) p,
.st-key-elements-state-select label[data-baseweb="radio"]:has(input) p {
        color: #31333f;
        min-width: 56px;
    }

.st-key-elements-category-select  div[role="radiogroup"],
.st-key-elements-state-select  div[role="radiogroup"] {
    gap: 8px !important;
}

.st-key-elements-category-select label[data-baseweb="radio"]:has(input[tabindex="0"]):not(:has(input[disabled])),
.st-key-elements-state-select label[data-baseweb="radio"]:has(input[tabindex="0"]):not(:has(input[disabled])) {
        background-color: #ff4b4b33;
        border: 1px none #ff4b4b;
        margin: 0px;
}

.st-key-elements-add-element-selection-container {
    gap: 40px !important;
    margin-top: 24px;
}

.st-key-elements-add-element-preview-container {
    gap: 40px !important;
}

.st-key-elements-add-element-preview-container h3 {
    padding: 0px;
}

.st-key-sidebar-footer-logo-side p {
    margin-bottom: 16px;
    line-height: 1.2;
    text-align: center;
}

.st-key-help-dialog-intro-container,
.st-key-feedback-dialog-intro-container
 {
    margin-bottom: 24px;
}

.st-key-help-dialog-theme-expander-content code,
.st-key-help-dialog-elements-expander-content code,
.st-key-export-elements-container code
{
    font-size: 14px;
}

.st-key-help-theme-streamlit-docs-link p,
.st-key-help-elements-styled-docs-link p,
.st-key-export-elements-docs-link p {
    font-weight: 500;
}

.st-key-help-dialog-theme-expander,
.st-key-help-dialog-elements-expander {
    margin-bottom: 24px;
}

.st-key-help-dialog-contact-markdown p {
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 12px;
}

.st-key-header-left-container div {
    display: flex;
    align-items: center;
}

.st-key-header-title {
    height: 40px;
    min-height: 40px;
    align-items: center;
}

.st-key-header-title .stHeading {
    margin-top: 4px;
}

.st-key-help-button .stButton:has(button[kind="secondary"]) > button:hover,
.st-key-feedback-button .stButton:has(button[kind="secondary"]) > button:hover
{
    background-color: #97a6c340 !important;
}

.st-key-feedback-dialog-form-container {
    margin-left: 72px;
}

.st-key-theme-base-font-weight-input-container,
.st-key-theme-heading-font-weight-input-container {
    gap: 0px !important;
    align-items: center;
}

.st-key-theme-base-font-weight-input-container hr,
.st-key-theme-heading-font-weight-input-container hr {
    margin: 0px;
}