.stAppHeader,
.stAppToolbar {
    display: none;
}

.stMainBlockContainer {
    padding-top: 80px;
}

div[data-testid="stSidebarContent"] {
    padding: 2rem;
}

div[data-testid="stSidebarHeader"] img {
    height: 4rem;
    width: 4rem;
}

div[data-testid="stSidebarHeader"] {
    margin-bottom: 2rem;
}

div[data-testid="stSidebarCollapseButton"] {
    display: none;
}

.st-key-sticky-header {
    position: absolute;
    top: 0;
    z-index: 9999;
    max-width: 704px;
    padding: 8px 0px;
    height: 56px;
    background-color: white;
}

.st-key-sticky-header h1 {
    padding: 0px;
}

/* 
    Theme Page
*/


.st-key-theme-main-container {
    gap: 40px;
}

.st-key-theme-main-container .stVerticalBlock {
    gap: 40px;
}

.st-key-theme-main-container div[data-baseweb="tab-panel"] {
    padding-top: 40px;
}

.st-key-theme-tabs p {
    font-weight: 500;
}

.st-key-color-preview {
    gap: 8px !important;
    padding: 16px;
    padding-bottom: 32px;
    border-radius: 2px;
}

.st-key-primary-color-preview {
    margin-top: 16px;
    border: none;
    z-index: 1000; 
    padding: 8px;
}

.st-key-secondary-color-preview {
    border: none;
    position: relative;
    top: -50px;
    flex-flow: row;
    align-items: end;
    padding: 8px;
}

.st-key-secondary-color-preview p {
    text-align: right;
}

.st-key-textcolor-preview {
    text-align: center;
}

.st-key-textcolor-preview p {
    font-weight: 700;
    margin: 0px;
}

.st-key-color-selectors {
    gap: 48px !important;
}

.st-key-theme-color-ext-expander {
    border: none;
}

.st-key-theme-color-container,
.st-key-theme-color-ext-container
{
    margin-top: 16px;
    margin-bottom: 16px;
}

.st-key-color-ext-preview {
    padding: 16px 16px;
    margin-top: 16px;
    gap: 48px !important;
    border-radius: 2px;
}

.st-key-color-ext-selectors {
    padding: 16px 16px;
    gap: 48px !important;
}

.st-key-bordercolor-preview {
    padding: 8px;
    height: 64px;
}

.st-key-linkcolor-preview {
    padding-left: 8px;
}

.st-key-dataframe-header-background-preview {
    border: none;
    min-height: 36px;
    border-radius: 0.5rem;
    
}

.st-key-dataframe-border-color-preview {
    min-height: 156px;
    padding: 8px;
    border-top: none !important;
    z-index: 1000;
    background-color: transparent;
    border-radius: 0.5rem;
}


div[data-testid="stExpanderDetails"] {
    padding: 0px;
    border: none;
}
/* 
Theme Export */

.st-key-export-theme-streamlit-docs-link p {
    margin-left: 18.4px;
    padding-left: 4.8px;
    font-weight: 500;
}

.st-key-export-theme-step-1-markdown code,
.st-key-export-theme-step-2-markdown code,
.st-key-export-theme-step-3-markdown code {
    color: #31333f;
    font-size: 14px;
}

.st-key-export-theme-updated-theme-container {
    padding: 16px;
}


.st-key-export-theme-updated-theme-tabs p {
    font-weight: 500;
}

.st-key-sidebar-border-preview {
    min-height: 60px;
    background-color: #f6f6f6;
}

.st-key-sidebar-border-box-preview {
    min-height: 60px;
    background-color: #f0f2f6;
}

.st-key-theme-font-ext-container {
    margin: 16px;
}

